<h2>Users</h2>
<table class="table">
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= render 'partials/user_image_link', user: user %></td>
      <td><%= user.name %></td>
      <td><%= link_to 'Show', user %></td>
    </tr>
    <% end %>
  </tbody>
</table>
