<% if resource && resource.errors.any? %>
  <div class="alert alert-warning">
    <ul>
      <%= resource.errors.count %> <%= 'error'.pluralize(resource.errors.count) %>.
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>