<div class="col-md-3">
  <h2>User info</h2>
    <% if defined?(show_other_user) && show_other_user %>
    <%= render 'users/user_info', user: user %>
    <% else %>
    <%= render 'users/user_info', user: current_user %>
    <% end %>
  <h2>New book</h2>
  <%= render 'shared/error_messages', resource: book %>
  <%= render 'books/form', book: Book.new %>
</div>