<div class="col-md-3">
  <h2>User info</h2>
    <% if defined?(show_other_user) && show_other_user %>
    <%= render 'users/user_info', user: user %>
    <% else %>
    <%= render 'users/user_info', user: current_user %>
    <% end %>
  <h2>New book</h2>
  <% if book && book.errors.any? %>
    <div class="alert alert-warning">
      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= render 'books/form', book: Book.new %>
</div>